<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815352291722-fgl10nr4u10mu7v7cefb3v9hb15kkfni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815352291722-fgl10nr4u10mu7v7cefb3v9hb15kkfni</string>
	<key>API_KEY</key>
	<string>AIzaSyA5f70V7Wh5fF3cVfLMUIKg8n0y3lNlBv0</string>
	<key>GCM_SENDER_ID</key>
	<string>815352291722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmrit.techshrine.techshrine</string>
	<key>PROJECT_ID</key>
	<string>techshrine-da017</string>
	<key>STORAGE_BUCKET</key>
	<string>techshrine-da017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815352291722:ios:153dcc99c94b2854456873</string>
	<key>DATABASE_URL</key>
	<string>https://techshrine-da017-default-rtdb.firebaseio.com</string>
</dict>
</plist>